@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Superclarendon'; 
  src: url("/public/Fonts/Superclarendon.otf") format("opentype");
}

h1 {
  font-family: var(--domine-font);
}

p {
  font-family: var(--arimo-font);
}


