@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Superclarendon'; 
  src: url("/public/Fonts/Superclarendon.otf") format("opentype");
}

body {
  font-family: 'Superclarendon', sans-serif;
}




